---
layout: default
title: Homepage
banner:
- banner-image: /images/Couples/c-lan-27.jpg
  title: Wedding & Lifestyle Photographer 
  description: capturing moments in Colorado & beyond

welcome: 
- title: Welcome to Wilder Photography Co.
  welcome-description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id odit laboriosam est temporibus, aperiam modi quae beatae, ab, repellat delectus saepe quo mollitia labore repellendus! Sit earum blanditiis rem perspiciatis!
  left-image: /images/Couples/c-por-11.jpg
  center-image: /images/Wedding/w-por-6.jpg
  right-image: /images/Families/f-por-14.jpg
  button: Let's Talk

collections:
-
  link: /weddings.html
  featured_image: /images/coll-wedding.png
  title: Weddings
-
  link: /families.html
  featured_image: /images/coll-family.png
  title: Families
-
  link: /couples.html
  featured_image: /images/coll-couples.png
  title: Couples
-
  link: /lifestyle.html
  featured_image: /images/coll-lifestyle.png
  title: Lifestyle

about:
  - introduction: Well Hello There
    about-description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius delectus facere quod enim asperiores voluptatibus, consequatur est fuga totam ea distinctio! Quas, delectus vero quasi eum nam in ducimus cupiditate?
    bryn-photo: /images/bryn-3.png

testimonials:
  - customer-text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iusto vitae culpa amet repellat, quasi aliquid eos eum fuga. 
    customer-name: customer name
  - customer-text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iusto vitae culpa amet repellat, quasi aliquid eos eum fuga. 
    customer-name: customer name
  - customer-text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iusto vitae culpa amet repellat, quasi aliquid eos eum fuga. 
    customer-name: customer name

button-banner:
  - background_image: /images/Wedding/w-lan-3.jpg
    button-title: Like what you see?
    button-text: Let's Talk
---

<!-- banner -->
{% for item in page.banner %}
<section class="banner flex items-center justify-center bg-overlay editable" style="background-image: url('{{item.banner-image}}');">
  <div class="md:w-[50%] bg-slate-200 p-8">
    <div class="p-heading banner-inner banner-h1 padded-2 centered padded light-text">
    <h1>{{item.title}}</h1>
    <p class="caps">{{item.description}}</p>
    </div>
  {% endfor %}
  </div>
</section>

<hr class="divider" />


<!---welcome banner-->

<section class="grid-middle padded-2 b-bg">
  <div class="col-2"></div>

  {% for item in page.welcome %}
  <div class="col-8 centered padded">
      <h3>{{item.title}}</h3>
      <p> {{item.welcome-description}}</p>
  </div>
  <div class="col-2"></div>
  </section>
 
  <section class="container b-bg tall-50">
    <div class="image-container">
      <img src="{{item.left-image}}" alt="Left Image" class="image-frame" />
      <img src="{{item.center-image}}" alt="Center Image"/>
      <img src="{{item.right-image}}" alt="Right Image" class="image-frame "/>
      <img src="/images/plant.png" alt="Leaves" />
      <img src="/images/W.png" alt="W" />
  </div>
</section>
  <div class="centered col-12 b-bg button-padding padded-1"> 
      <a href="/contact.html" class="button-black button"> {{item.button}} </a>
      {% endfor %}
  </div>




<!-- collections section -->

<hr class="divider" />
<section class="padded-1">
<div class="centered">
  <h3 class="editable">Take a look at my work</h3>
  </div>
</section>
<section class="p-5p centered">
  <div class="grid md:grid-cols-3 p-4 padded-2">
    {% for item in page.collections %}
    <div class="col-3_sm-12 p-4">
      <a href="{{ item.link }}"> <!-- Wrap the overlay with <a> tag and provide the link -->
        <div class="hover-container image-frame" style="background-image:url('{{item.featured_image}}')">
          <div class="hover-overlay">
            <div class="hover-inner"></div>
          </div>
        </div>
        <!-- Description -->
        <div class="item-title">{{item.title}}</div>
      </a>
    </div>
    {% endfor %}
  </div>
</section>

<!--Kind Words-->

<section class="grid g-bg light-text"> 
  <h2 class="col-12 centered padded-1 editable">Kind Words</h2>  
  <div class="col-1 right">
    <span class="quote"> “ </span> 
  </div> 
  <div class="col-10">
    <div class="testimonial-slider-container testimonial"> 
    <!-------------------- SLIDE 1 ------------------------------>
    {% for item in page.testimonials%}
    <div class="slider-item"> 
      <p> {{item.customer-text}}  </p>
      <p class="right author"> {{item.customer-name}} </p>  
    </div> 
    {% endfor %}
  </div>
  </div> 
  <div class="col-1">
    <span class="quote"> ” </span> 
  </div> 
</section> 


<!--- About me section --->
      
<section class="grid-middle padded container">
  <div class="col-6">
    {% for item in page.about %}
    <img src="/images/W.png" class="am-w hide-sm" />
    <h2>{{item.introduction}}</h2>
    <p>{{item.about-description}}</p>
  </div>
  <div class="col-1"></div>
  <div class="col-5 tall-60 bg-image portrait image-frame" style="background-image: url('{{item.bryn-photo}}');">
  </div>
  {% endfor %}
</section>


<!---Button -->

<section class="grid-middle centered">
  {% for item in page.button-banner%}
  <div class="col-12 tall-60 bg-image overlay container" style="background-image: url({{item.background_image}});">
    <div class="padded padded-t overlay-c overlay-1 centered div-frame">
      <h2> {{item.button-title}}
        <div class="centered col-12 padded-1"> 
          <a href="/contact.html" class="button-black button"> {{item.button-text}} </a>
        </div>
      </h2>
      {% endfor %}
   </div>
  </div>
</section>



