---
layout: default
title: Weddings
collectionsbanner:
  - background_image: /images/Wedding/w-lan-4.jpg
    title: Weddings
gallery:
  - column-size:
    aspect-ratio: portrait
    background_image: /images/Wedding/w-por-1.jpg
  - column-size: col-6
    aspect-ratio: portrait
    background_image: /images/Wedding/w-por-2.jpg
  - column-size: col-12
    aspect-ratio: landscape
    background_image: /images/Wedding/w-lan-5.jpg
  - column-size: col-12
    aspect-ratio: landscape
    background_image: /images/Wedding/w-lan-1.jpg
  - column-size: col-6_sm-12
    aspect-ratio: portrait
    background_image: /images/Wedding/w-por-3.jpg
  - column-size: col-6
    aspect-ratio: portrait
    background_image: /images/Wedding/w-por-4.jpg
  - column-size: col-12
    aspect-ratio: portrait
    background_image: /images/Wedding/w-por-6.jpg
  - column-size: col-6
    aspect-ratio: portrait
    background_image: /images/Wedding/w-por-5.jpg
  - column-size: col-6
    aspect-ratio: portrait
    background_image: /images/Wedding/w-por-7.jpg
  - column-size: col-12_sm-12
    aspect-ratio: landscape
    background_image: /images/Wedding/W-lan-4.jpg
---
<!--- banner -->
{% include collections-banner.html %}

<hr class="divider" />

<!--description -->
<p class="centered padded editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum officia hic eveniet dolores necessitatibus laboriosam commodi adipisci? Dolorum exercitationem aperiam, odio reprehenderit explicabo, labore obcaecati quisquam odit iste ipsum beatae.</p>

<hr class="divider" />

<!-- gallery -->

<div class="gallery grid-middle padded">
    {% for item in page.gallery %}

    <div class="{{item.column-size}}">
      <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');">
      </div>
    </div>

    {% endfor %}
</div>

<!--links for other collections-->
<section class="grid">
  <div class="col-12 centered">
    <h4 class="editable">Other collections</h4>
    <a href="/lifestyle.html">Lifestyle</a> |
    <a href="/families.html">Families</a> |
    <a href="/couples.html">Couples</a> 
  </div>
</section>

<!--Contact Section -->
<section class="grid b-bg centered padded">
    <div class="col-12">
      <h2 class="editable">Like what you see? 
        <p class="editable"><a href="/contact.html" class="button button-black"> Let's Talk </a></p><p>
      </p></h2>
    </div>
</section>