<!DOCTYPE html>
<html lang="en">

<head>
    
  <!--font-->
  <link rel="preload" href="WildflowerBlossom-Italic.woff2" as="font" type="font/woff2" crossorigin>

  <link rel="stylesheet" href="https://use.typekit.net/tyk6oyh.css">



  <!-- gridlex -->
    
    <title>Wilder Photography Co</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">



    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>{{page.title}}</title>
</head>

<body>
    <!--- Header -->
 
    <header class="grid">
       <div class="col-12 centered">
          <a href="/">
            <div class="logo p-4 centered bg-logo bg-image tall-20"></div>
          </a>
          <nav class="col-12 centered padded-1">
            <a href="#" class="nav-padded"> Home </a>
            <a href="#" class="nav-padded"> Collections </a>
            <a href="#" class="nav-padded"> Contact </a>
          </nav>
        </div>
    </header>


    {{content}}


<!---    footer    -->
<footer class=" padded green-bg">
    <section class="grid">
      <div class="col-4">
        <h3>Wilder Photography Co</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae eos vero recusandae sint voluptate velit.</p>
      </div>
      <div class="col-4 bg-flower"></div>
      <div class="col-4">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora magni illo earum, animi labore laborum maiores repudiandae accusamus distinctio eos nisi, corporis ea quod eveniet reprehenderit facilis magnam ex minus?</p>
      </div>
    </section>
</footer>


</body>
</html>