<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>

<body>
  <!---- Hamburger for mobile  -->     
  <!-- Mobile Menu -->
<div class="topnav show-sm">
  <a href="#home" class="active">Wilder Photography Co.</a>
  <!-- Navigation links (hidden by default) -->
  <div id="myLinks" class="wf-text">
    <a href="/index.html">Home</a>
    <a href="/collections.html">Collections</a>
    <a href="/services.html">Services</a>
    <a href="/Contact.html">Contact</a>
  </div>
  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>


  <!---Nav Bar -->
      <nav class="centered nav-pos hide-sm">
        <!-- Left Links -->
        <a href="/index.html">Home</a>
        <a href="/collections.html">Collections</a>

        <!-- Logo in the Center -->
        <a href="/index.html">
            <img src="/images/white-logo.PNG" alt="Wilder Photography Co.">
        </a>

        <!-- Right Links -->
        <a href="/services.html" class="right">Services</a>
        <a href="/contact.html" class="right">Contact</a>
        </div>
    </nav>


    {{content}}


  <footer class="grid-middle centered padded-2">
    <div class="col-4_xs-12 xs-text-center">
      <h4>Wilder Photography Co.</h4>
      <p>COPYRIGHT © Wilder Photography Co.</p>
      <p>Site design & code by Anissa Lassek</p>
    </div>
    <div class="col-4_xs-12 bg-flower tall-20 centered">

    </div>
    <div class="col-4_xs-12 right xs-text-center">
        <h4 class="centered">Quick Links</h4>
        <nav class="centered">
          <a href="index.html">Home </a> <br>
          <a href="/collections.html">Collections </a>  <br>
          <a href="/services.html">Services </a>  <br>
          <a href="/contact.html">Contact</a>
        </nav>
    </div>
  </footer>
  <!--- JQuery --->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--- our custom JavaScript file-->
    <script src="/scripts.js"></script>


  </body>
  </html>