<!DOCTYPE html>
<html lang="en">

<head>
    
  <!--font-->
  <link rel="preload" href="WildflowerBlossom-Italic.woff2" as="font" type="font/woff2" crossorigin>

  <link rel="stylesheet" href="https://use.typekit.net/tyk6oyh.css">


  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;1,6..96,400;1,6..96,500&display=swap" rel="stylesheet">

  <!-- gridlex -->
    
    <title>Wilder Photography Co</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">



    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>{{page.title}}</title>
</head>

<body>
<!---- Hamburger for mobile  -->     
<div>
  <div class="col-1 show-sm">
      <div class="menu-buttons">
          <div class="hamburger-button right active">
              <i class=>☰</i>
          </div>
      </div>
  </div>
</div>

<nav class="mobile-menu padded bg-red">
  <a href="/index.html">Home</a>
  <a href="/collections.html">Collections</a>
  <a href="/services.html">Services</a>
  <a href="/contact.html">Contact</a>
</nav>


<!---Nav Bar -->
    <nav class="centered nav-pos hide-sm">
      <!-- Left Links -->
      <a href="/index.html">Home</a>
      <a href="/collections.html">Collections</a>

      <!-- Logo in the Center -->
      <a href="/index.html">
          <img src="/images/white-logo.PNG" alt="Wilder Photography Co.">
      </a>

      <!-- Right Links -->
      <a href="/services.html" class="right">Services</a>
      <a href="/contact.html" class="right">Contact</a>
      </div>
  </nav>


    {{content}}


  <footer class="grid-middle centered padded-2">
    <div class="col-4 left">
      <h3>Wilder Photography Co.</h3>
      <p>COPYRIGHT © Wilder Photography Co.</p>
      <p>Site design & code by Anissa Lassek</p>
    </div>
    <div class="col-4 bg-flower tall-20 centered">

    </div>
    <div class="col-4_xs-12 right xs-text-center">
      <h4 class="centered">Quick Links</h4>
      <nav class="centered">
        <a href="index.html">Home </a> <br>
        <a href="/collections.html">Collections </a>  <br>
        <a href="/services.html">Services </a>  <br>
        <a href="/contact.html">Contact</a>
      </nav>
  </div>
</footer>
  </footer>

  </body>
  </html>